name: Create GitHub Release

on:
  push:
    tags:
      - 'v20*.*.*'   # v2025.12.0, v2025.12.1, v2026.01.0, ...

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
